#header{
	padding-bottom: 1em;
}

th.TableTittle{
	font-size: 3em;
	text-align: center;
}

th.TableTittle1{
	font-size: 1em;
	text-align: center;
	vertical-align: center;
	width: 200px;
}

th.TableTittle2{
	font-size: 1em;
	text-align: center;
	width: 600px;
}

th.fechita{
	font-size: 0.8em;
	text-align: center;
}

th.datepicker{
	border: 2px solid #ff0066;
  	border-radius: 12px;
}

table#table1{
	border: 1px solid #C4C4C4;
  	border-radius: 12px;
	margin-left: auto;
  	margin-right: auto;
	width: 800px;
}

